
{% for post in site.posts limit 10 %}
<article>
    <div class="article-heading">
        <span class="date">{{post.date | date_to_string }}</span>
        <h2 class="article-title">{{ post.title }}</h2>
    </div>
    <div class="article-content">
        <p>{{ post.content |  truncatewords:200}}</p>
    </div>
    <div class="button-next">
      <a href="{{ site.baseurl }}{{ post.url }}"<button type="submit" class="block accent">continue reading...</button></a>
    </div>
</article>
{% endfor %}
