<header>
    <div id="profile-pic">
        <img class="picture" src="{{ site.baseurl }}/static/img/headshot.jpg" alt="profile picture">
    </div>
    
    <div id="profile-summary">
        <h1 class="name">john paul kiser</h1>
        <h4 class="location">Software Developer </br> from Greenville, SC</h4>
        <a href="/johnpaulkiser/about" class="block inline accent">About Me</a>
        <h5><a href="mailto:johnpaulkiser@gmail.com">johnpaulkiser@gmail.com</a></h5>
        <div id="socials">  
          <a href="https://www.github.com/johnpaulkiser">
              <img src="https://icongr.am/octicons/mark-github.svg?color=ffffff" alt="github" class="social-icons"> 
          </a>
          <a href="https://www.linkedin.com/in/john-paul-kiser-9446a9180/">
              <img src="https://icongr.am/devicon/linkedin-original.svg" alt="linkedin" class="social-icons"> 
          </a>   
        </div>
    </div>
    
    <ul id="nav">
        <li><a href="{{ site.baseurl }}/"><button type="button" class="block">home</button></a></li>
        <li><a href="{{ site.baseurl }}/blog"><button type="button" class="block">logs</button></a></li>
        <li><a href="{{ site.baseurl }}/projects"><button type="button" class="block">projects</button></a></li >
        <li><a href="#"><button type="button" class="block">resume</button></a></li>
    </ul>
</header>
