h1 {
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color : rgb(67, 136, 163);
}

a:hover {
    text-decoration: underline;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

header {
    margin: 1em;
    text-align: center;
    background-color: rgb(44, 48, 48);
    color: #ccc;
    padding: 2em 2em 0 2em;
    border-radius: 7px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);            
}

header ul {
    list-style-type: none;
}

article {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.article-content>p{
    line-height: 1.7;
}

button {
    float: right;
    padding: 1em 2em;
    border-radius: 5px;
    background: none;
    font-size: .75em;
    border-color: slategrey;
    font-weight: 500;
   
}

.button-next {
    float: right;
    display: block;
}

.location {
    font-style: italic;
}

.line:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 80%;
    padding-top: 60px; 
    margin-bottom: 30px; 
    border-bottom: 2px solid slategrey;
}

#profile-pic {
    display: none;
}

.picture {
    border: 3px solid #222;
    height: 250px;
    width: 250px;
}

#socials {
    display: flex;
    justify-content: center;
} 

.social-icons {
    height: 28px;
    width: 28px;
    padding: .3em 1em 0 1em;
}

.date {
    font-weight: 200;
    color: grey;
}
body {
    display: grid;
    grid:
        'header' auto
        'nav' auto
        'main' 1fr
        'footer' auto
        / 1fr;
}

@media (min-width: 45em){
    #profile-pic {
        display: block;
        float: left;
    }
}


@media (min-width: 100em){

    #nav>li{
        justify-content: center;
        display: flex; 
        //flex-basis: calc(50% - 60px);
    }

    header { 
        position: fixed;
        left: 2em;
        padding: 2em 1.7em 0 1.7em; 
    }
    #profile-pic {
        display: block;
        float: none;
    }
    body{
      grid:
        '. main .' auto
        '. main .' 1fr
        'footer footer footer' auto
        / 1fr minmax(300px, 900px) 2fr;
        
    }
}

header {grid-area: header;}
#placeholder {grid-area: placeholder;}
main {grid-area: main;}
footer {grid-area: footer;}
